---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo David, tengo 23 años y soy de Chubut, Argentina. Realicé mis estudios de desarrollo web en <strong>CoderHouse y SoyHenry</strong>. También, estoy realizando la tecnicatura en <strong> Analista Programador.</strong> 
    </p>

    <p>
      Actualmente me estoy enfocando en el <strong>Back-end</strong>, donde disfruto construyendo la lógica detrás de las aplicaciones, asegurando su funcionalidad y rendimiento. Ultimamente estoy aprendiendo sobre NestJs, MySQL, Patrones de diseño, TypeORM y Typescript.
    
    </p>

    <p>Tengo experiencia con ReactJs, NodeJs, Express, JavaScript, PostgreSQL, Metodologia Scrum, Docker y Tailwind.</p>
  
  </div>

  
</article>
