---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong> Lic. en Ciencias de la Computación.</strong>
      Me llamo David, tengo 22 años y soy de Argentina. Realicé mis estudios de desarrollo web en <strong>CoderHouse y SoyHenry</strong>. Actualmente estoy en segundo año de <strong> Lic. en Ciencias de la Computación.</strong>

Actualmente me estoy enfocando en el <strong>Back-end</strong>, donde disfruto construyendo la lógica detrás de las aplicaciones y asegurando su funcionalidad y rendimiento.
    </p>

  
  </div>

  
</article>
