---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Octubre 2023",
    title: "Desarrollador Back-end",
    company: "Andromeda",
    description:
      "Participe en la creacion y desarrollo de la logica del contrato inteligente para una aplicacion Web3 que se basa en la autogestion de energia electrica."
  },
  {
    date: "Enero 2023",
    title: "Desarrollador Front-end",
    company: "Chimu sublimaciones",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de la pagina web. Integracion de Whatsapp para los pedidos por la web",
      link: 'https://chimu.netlify.app/'
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} /> 
      </li>
    ))
  }
</ol>
