---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Junio 2024",
    title: "Desarrollador Front-end",
    company: "Portfolio Community Manager - Creadora de contenido",
    description:
      "Responsable de la creacion de componentes y utilidades para la creación y desarrollo de la página web. Integración de redes sociales y contenido audiovisual con formato de celular para dar una idea de cómo se verían en dispositivos móviles.",
    link: "https://gabriela-zarate.vercel.app/",
  },
  {
    date: "Octubre 2023",
    title: "Desarrollador Back-end",
    company: "Andromeda",
    social: "https://www.linkedin.com/company/andromeda-computer/",
    description:"Participé en la creación y desarrollo de la lógica del contrato inteligente para una aplicación Web3 para que los usuarios conviertan la energía eléctrica que generan en su hogar en una forma de moneda virtual para hacer transacciones. Demostré solidas habilidades en el backend y me adapté rápidamente al explorar tecnologías emergentes como la blockchain.Participé en revisiones de código. Desarrollé y envíe código a producción, con sus respectivos test.",
  },
  {
    date: "Enero 2023",
    title: "Desarrollador Front-end",
    company: "Chimu sublimaciones",
    social: "https://www.facebook.com/chimusublimaciones/?locale=hi_IN",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de la página web. Integración de Whatsapp para los pedidos por la web. Colaboré con el equipo (incluidos programadores y diseñadores) para la correcta implementación de las mejores prácticas web.",
    link: "https://chimu.netlify.app/",
  }
  
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
